main{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: red;
    margin-left: 250px;
    margin-right: 250px;

    ion-button{
        margin-top: 20px;
    }
}

ion-content{
    text-align: center;

    ion-title{
        margin-top: 10px;
    }

    .input{
        margin-top: 50px;
        border-bottom: 1px solid #808080;
    }

    .addButton{
        margin-top: 10px;
    }
}

.closeButton{
    display: flex;
    justify-content: flex-end;
    margin: 10px;  
}