main{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 30px;
    margin-top: 70px;
    margin-bottom: 70px;

    ion-title{
        margin-top: 20px;
    }

    ion-button{
        margin-top: 20px;
    }

    ion-list{
        background-color: transparent;
        margin: -5px;
        ion-card{
            text-transform: capitalize;
            border-radius: 20px;
            width: 300px;
            word-wrap: break-word;
        }
    }
}

ion-content{
    text-align: center;

    ion-title{
        margin-top: 10px;
    }

    .input{
        margin-top: 50px;
        border-bottom: 1px solid #808080;
    }

    .addButton{
        margin-top: 10px;
    }
}

.closeButton{
    display: flex;
    justify-content: flex-end;
    margin: 10px;  
}

.buttons{
    --border-radius: 20px;
}