<main>
    <div>
      <ion-title>Nome Da Empresa</ion-title>
      <ion-button (click)="openModal()">Adicionar Item</ion-button>
      <ion-modal [isOpen]="modal" (didDismiss)="modal = false">
            <ng-template>
              <ion-content>
                <ion-title>Adicionar Novo Item</ion-title>
                <ion-input class="input" label="Nome" labelPlacement="floating" [(ngModel)]="item.name"></ion-input>
                <ion-input type="number" class="input" label="Quantidade" labelPlacement="floating" [(ngModel)]="item.amount"></ion-input>
                <div class="addButton">
                  <ion-button (click)="addItem()">Adicionar</ion-button>
                </div>
              </ion-content>
              <div class="closeButton">
                <ion-button (click)="closeModal()">Fechar</ion-button>
              </div>
            </ng-template>
      </ion-modal>
      <ion-list>
        <ion-card *ngFor="let newItem of stock">
          <ion-card-header>
            <ion-card-title>{{ newItem.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Quantidade: {{ newItem.amount }}
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
</main>
