<main>
    <div>
      <div class="logo"><img src="assets/logo.png" alt=""></div>
      <ion-button class="buttons" (click)="openModal()">Adicionar Item</ion-button>
      <ion-modal [isOpen]="modal" (didDismiss)="modal = false">
            <ng-template>
              <ion-content>
                <ion-title>Adicionar Novo Item</ion-title>
                  <div class="inputs">
                    <ion-input class="input" label="Nome" labelPlacement="floating" [(ngModel)]="item.name" (keyup.enter)="addItem()"></ion-input>
                    <ion-input type="number" class="input" label="Quantidade" labelPlacement="floating" [(ngModel)]="item.amount" (keyup.enter)="addItem()"></ion-input>
                  </div>
                <div class="modalButton">
                  <ion-button class="buttons" (click)="addItem()">Adicionar</ion-button>
                </div>
              </ion-content>
              <div class="closeButton">
                <ion-button class="buttons" (click)="closeModal()">Fechar</ion-button>
              </div>
            </ng-template>
      </ion-modal>
      <ion-list>
        <ion-card *ngFor="let newItem of stock, let i = index" (click)="openModalItem(newItem, i)">
          <div class="items">
          <h2>{{ newItem.name }}</h2>
          <div class="amount">
            <p>{{ newItem.amount }}</p>
          </div>
          <div class="delete">
            <ion-button class="delete" (click)="removeItem(i)"><img src="assets/delete.svg" alt="delete"></ion-button>
          </div>
          </div>
        </ion-card>
      </ion-list>
    </div>
    <ion-modal [isOpen]="modalItem" (didDismiss)="modalItem = false">
      <ng-template>
        <ion-content>
          <ion-title>Editar Item</ion-title>
          <div class="inputs">
            <ion-input class="input" type="text" label="Nome" labelPlacement="floating" [(ngModel)]="selectedItem.name"></ion-input>
            <ion-input class="input" type="number" label="Quantidade" labelPlacement="floating" [(ngModel)]="selectedItem.amount"></ion-input>
          </div>
          <div class="modalButton">
            <ion-button class="buttons" (click)="editItem()">Confirmar Edição</ion-button>
          </div>
        </ion-content>
        <div class="closeButton">
            <ion-button class="buttons" (click)="closeModalItem()">Fechar</ion-button>
        </div>
      </ng-template>
    </ion-modal>
  </main>
